{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>BANKING SYSTEM</title>
  </head>
  <body class="base">
    <div class="container-fluid" style="background-color: #262a2b">
      <nav
        class="navbar navbar-expand-lg container p-4"
        data-aos="slide-down"
        data-aos-duration="1000"
      >
        <a class="navbar-brand" href="/"
          ><i class="fas fa-rupee-sign" style="color: #f7caac"></i
          >edneck&nbsp;<i class="fab fa-btc" style="color: #f7caac"></i>ank</a
        >
        <button
          class="navbar-toggle collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><i class="fas fa-bars" style="color: #fff"></i
          ></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link users" href="/users/"
                ><i class="fas fa-users" style="font-size: 17px"></i> Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history/"
                ><i class="fas fa-history" style="font-size: 17px"></i>
                History</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div>{% block body %}{% endblock %}</div>
    <!-- <div class="footer">
      <p class="m-auto">
        Developed with
        <i class="fas fa-heart" style="color: #cc2525"></i> by Vaishnavi Sawant
      </p>
    </div> -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/9d5e03a8c7.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
