{% extends 'base.html' %}{% load static %} {% block body %}
<div class="table-responsive container table-hover mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Index No.</th>
        <th scope="col">Sender</th>
        <th scope="col">Recipient</th>
        <th scope="col">Amount Transferred</th>
        <th scope="col">Time</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for t in transactions %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ t.sender }}</td>
        <td>{{ t.recipient }}</td>
        <td><i class="fas fa-rupee-sign rupee"></i> {{ t.amount }}</td>
        <td>{{ t.created_at }}</td>
        {% if t.status == "Successful" %}
        <td style="color: green">{{ t.status }}</td>
        {% else %}
        <td style="color: red">{{ t.status }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
