{% extends 'index.html' %}{% load static %} {% block body %}

<div class="landing_page container" data-aos="zoom-in" data-aos-duration="1000">
  <div>
    <div>
      <h1 style="font-size: 55px; margin-top: 150px">
        Banking <span style="color: #f7caac">has never</span><br />been so easy
      </h1>
    </div>
    <div>
      <p>Open a new account, view user, check balances, transfer money<br />and more.</p>
    </div>
    <button type="button" class="btn btn-dark get-started">Get started</button>
  </div>
  <div class="m-auto text-center">
    <img src="{% static 'img/credit.svg' %}" class="img-fluid card-img" />
  </div>
</div>

<div class="pancake">
  <div class="box" data-aos="slide-right" data-aos-duration="1000">
    <div class="m-auto text-center">
      <img src="{% static 'img/user1.svg' %}" class="img-fluid img-wrapper" />
    </div>
  <p class="text-center mt-5">Join easily now, find friends in web app and make payments easily and without communication.</p>
  </div>
  <div class="box" data-aos="slide-up" data-aos-duration="1000">
    <div class="m-auto text-center">
      <img src="{% static 'img/transaction.svg' %}" class="img-fluid img-wrapper" />
    </div>
    <p class="text-center mt-5">Keep track of previous transactions.Check history, transaction time, status and more.</p>
  </div>
  <div class="box" data-aos="slide-left" data-aos-duration="1000">
    <div class="m-auto text-center">
      <img src="{% static 'img/pay.svg' %}" class="img-fluid img-wrapper" />
    </div>
    <p class="text-center mt-5">Simple transfers, utility bills, functional statement, now in your pocket.</p>
  </div>
  </div>
</div>
{% endblock %}
