{% extends 'base.html' %}{% load static %} {% block body %}
<div class="table-responsive container table-hover mt-5" data-aos="fade" data-aos-duration="1000">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Index No.</th>
                <th scope="col">Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Current Balance</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ u.full_name }}</td>
                <td>{{ u.email }}</td>
                <td><i class="fas fa-rupee-sign rupee"></i> {{ u.current_balance }}</td>
                <td class="text-center">
                    <a href="/transfer/{{ u.id }}" class="badge btn btn-dark view-user">View user</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
