@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

/* global styles start */

* {
  font-family: "Varela", sans-serif;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #262a2b !important;
  color: #fff !important;
  margin-bottom: 150px;
}

.base {
  background-color: #fff !important;
  color: #070707 !important;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  background-color: #070707;
  padding: 24px;
  text-align: center;
  color: #fff;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  width: 65% !important;
  max-width: 95% !important;
}

.collapsed {
  visibility: hidden;
}

a {
  text-decoration: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  padding-bottom: 0px;
  width: 150px;
  position: fixed;
  background: #262a2b !important;
  border: none !important;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
  background: #262a2b !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.navbar-brand {
  color: #fff;
  font-size: 25px !important;
}

.navbar-brand:hover {
  color: #f7caac;
}

.nav-link {
  color: #fff;
  font-size: 19px;
  padding: 33px !important;
}

.nav-link:hover {
  color: #f7caac;
}

/* #global styles end # */

.get-started {
  letter-spacing: 1px !important;
  padding: 10px 25px !important;
  border-radius: none !important;
  text-transform: uppercase !important;
  font-weight: bold;
}

.view-user {
  text-decoration: none !important;
  padding: 10px 20px !important;
  text-transform: uppercase !important;
  border-radius: none !important;
}

.pancake {
  padding: 250px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.box {
  flex-basis: 310px;
  margin: 5px;
  border-radius: 15px;
  background-color: #343939;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.45) !important;
  color: #fff;
  padding: 15px;
  border-radius: 13px !important;
}

.box:hover {
  background-color: #f7caac;
  padding: 10px;
  opacity: 0.9;
  border-radius: 0px !important;
  color: #070707;
}

.box i:hover {
  color: #070707 !important;
}

.img-wrapper {
  width: 90% !important;
}

.landing_page {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-img {
  width: 90% !important;
}

.rupee {
  font-size: 14px !important;
}

@media screen and (max-width: 768px) {
  .collapsed {
    visibility: visible;
  }
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
  .landing_page {
    display: block;
    margin-top: 0px;
  }
  .landing_page h1 {
    margin-top: 80px !important;
    font-size: 30px !important;
  }
  .landing_page p {
    font-size: 3.1vw !important;
  }
  .get-started {
    letter-spacing: 0px !important;
    padding: 3px 8px !important;
    border-radius: none !important;
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 13px !important;
  }
  .card-img {
    margin-top: 30px !important;
    width: 80% !important;
  }
  .pancake {
    margin-top: 150px !important;
    padding: 15px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    overflow-x: hidden !important;
  }
  .img-wrapper {
    width: 60% !important;
  }
  .pancake p {
    font-size: 13px !important;
    text-align: none !important;
    margin-top: 15px !important;
  }
  .box {
    flex-basis: 130px !important;
    padding: 10px !important;
  }
  .table-responsive {
    font-size: 13px !important;
  }
  .rupee {
    font-size: 11px !important;
  }
  .view-user {
    padding: 7px 13px !important;
    font-size: 11px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  .form-group,
  .form-control {
    font-size: 14px !important;
  }
  .navbar-brand {
    font-size: 20px !important;
  }
  .nav-link {
    padding: 15px !important;
    font-size: 14px;
  }
  .nav-link i {
    font-size: 12px !important;
  }
  .container-fluid {
    padding: 0px 0px !important;
  }
  .footer {
    padding: 18px !important;
    font-size: 9px !important;
  }
}
