@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #262a2b !important;
  color: #fff !important;
  margin-bottom: 150px;
  font-family: "Karla", sans-serif;
}
.base {
  background-color: #fff !important;
  color: #070707 !important;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.footer {
  background-color: #070707;
  padding: 24px;
  text-align: center;
  color: #fff;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
}
.container {
  width: 65% !important;
  max-width: 95% !important;
}
.collapsed {
  visibility: hidden;
}
a {
  text-decoration: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  padding-bottom: 0px;
  width: 150px;
  position: fixed;
  text-decoration-color: none !important;
  border: none;
}
.navbar-brand {
  color: #fff;
  font-size: 25px !important;
}
.navbar-brand:hover {
  color: #f7caac;
}
.nav-link {
  color: #fff;
  font-size: 19px;
  padding: 0px !important;
}

.nav-link:hover {
  color: #f7caac;
}

.users {
  border-right: 2px solid #fff;
}

.get-started,
.view-user {
  letter-spacing: 1px !important;
  padding: 10px 25px !important;
  border-radius: none !important;
  text-transform: uppercase !important;
  font-weight: bold;
}
.pancake {
  padding: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 18px;
}
.box {
  flex: 0 1 350px;
  margin: 5px;
  border-radius: 15px;
  background-color: #262a2b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
.box:hover {
  background-color: #f7caac;
  padding: 10px;
  opacity: 0.9;
  border-radius: 0px !important;
  color: #070707;
}
.box i:hover {
  color: #070707 !important;
}
.img-wrapper {
  width: 90% !important;
}
.landing_page {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-img {
  width: 90% !important;
}
.img-btn {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .collapsed {
    visibility: visible;
  }
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
  .landing_page {
    display: block;
    margin-top: 0px;
  }
  .landing_page h1 {
    margin-top: 80px !important;
    font-size: 30px !important;
  }
  .landing_page p {
    font-size: 3.1vw !important;
  }
  .get-started {
    letter-spacing: 0px !important;
    padding: 3px 8px !important;
    border-radius: none !important;
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 13px !important;
  }
  .card-img {
    margin-top: 15px !important;
    width: 75% !important;
  }
  .pancake {
    margin-top: 40px !important;
    padding: 100px !important;
    display: block;
    width: 80% !important;
  }
  .pancake p {
    font-size: 15px !important;
    text-align: none !important;
    margin-top: 15px !important;
  }
  .box {
    padding: 20px !important;
    display: grid !important;
    grid-template-rows: 1fr !important;
    /* text-align: none !important;
    flex: 0 1 250px !important; */
    /* flex-direction: row !important;
    justify-content: space-around !important;
    align-items: unset !important; */
  }

  .img-wrapper {
    width: 75% !important;
  }
}
